In [1]:
import quandl
quandl.ApiConfig.api_key = "idNBU8ZQFvkUE9fDgWyz"
import numpy as np
import pandas as pd

In [2]:
prices = quandl.get_table('SHARADAR/SEP', ticker=['AAPL', 'KO', 'NKE', 'TSLA', 'XOM'], date={'gte':'2017-01-01', 'lte':'2018-12-31'}, paginate=True)

In [3]:
prices.head()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated
None,,,,,,,,,,
0,XOM,2018-12-31,68.32,69.145,67.66,68.19,15609337.0,0.0,68.19,2018-12-31
1,XOM,2018-12-28,69.18,69.580,67.82,68.17,19617793.0,0.0,68.17,2018-12-28
2,XOM,2018-12-27,67.74,68.940,66.08,68.94,21315318.0,0.0,68.94,2018-12-27
3,XOM,2018-12-26,66.18,68.655,64.65,68.64,24403048.0,0.0,68.64,2018-12-26
4,XOM,2018-12-24,66.87,67.530,65.44,65.51,14262074.0,0.0,65.51,2018-12-28

In [4]:
pivoted = prices.pivot(index='date', columns='ticker', values='close')

In [5]:
pivoted.head()

ticker        AAPL     KO    NKE    TSLA    XOM
date
2018-09-04  228.36  44.76  79.60  288.95  80.29
2018-09-05  226.87  45.38  79.92  280.74  81.36
2018-09-06  223.10  45.77  80.40  280.95  80.46
2018-09-07  221.30  45.72  80.30  263.24  81.83
2018-09-10  218.33  46.06  82.10  285.50  81.71

# Variance

$$s^2 = \frac{\sum_{i=1}^N (x_i - \bar{x})^2}{N-1}$$

In [6]:
aapl = pivoted['AAPL'].pct_change().apply(lambda x: np.log(1+x))
aapl.head()

date
2018-09-04         NaN
2018-09-05   -0.006546
2018-09-06   -0.016757
2018-09-07   -0.008101
2018-09-10   -0.013512
Name: AAPL, dtype: float64

In [7]:
mean_aapl = aapl.sum()/aapl.count()
mean_aapl

-0.004567595347237202

In [8]:
sqd_aapl = aapl.apply(lambda x: (x-mean_aapl)**2)
sqd_aapl.head()

date
2018-09-04         NaN
2018-09-05    0.000004
2018-09-06    0.000149
2018-09-07    0.000012
2018-09-10    0.000080
Name: AAPL, dtype: float64

In [9]:
ssqd_aapl = sqd_aapl.sum()
ssqd_aapl

0.044229969504156696

In [10]:
var_aapl = ssqd_aapl/(aapl.count()-1)
var_aapl

0.0005528746188019587

In [11]:
aapl.var()

0.0005528746188019587