In [2]:
import quandl
quandl.ApiConfig.api_key = "idNBU8ZQFvkUE9fDgWyz"
import numpy as np
import pandas as pd

In [3]:
prices = quandl.get_table('SHARADAR/SEP', ticker=['AAPL', 'TSLA'], qopts={'columns':['ticker' ,'date', 'close']}, date={'gte':'2017-01-01', 'lte':'2018-12-31'}, paginate=True)

In [4]:
pivoted = prices.pivot(index='date', columns='ticker', values='close')
pivoted.head()

ticker        AAPL    TSLA
date
2018-09-04  228.36  288.95
2018-09-05  226.87  280.74
2018-09-06  223.10  280.95
2018-09-07  221.30  263.24
2018-09-10  218.33  285.50

In [4]:
df = pivoted.pct_change()
df.head()

ticker          AAPL      TSLA
date
2017-01-03       NaN       NaN
2017-01-04 -0.001119  0.046085
2017-01-05  0.005085 -0.001057
2017-01-06  0.011148  0.009967
2017-01-09  0.009160  0.009912

# Variance

$$s^2 = \frac{\sum_{i=1}^N (x_i - \bar{x})^2}{N-1}$$

$$s^2 = \frac{\sum_{i=1}^N (x_i - \bar{x})(x_i - \bar{x})}{N-1}$$

# Covariance

$$\sigma_{ij} = \frac{\sum_{i=1j=1}^N (x_i - \bar{x_i})(x_j - \bar{x_j})}{N-1}$$

In [6]:
mean_aapl = df['AAPL'].mean()
mean_aapl

0.0007241871340149523

In [8]:
mean_tsla = df['TSLA'].mean()
mean_tsla

0.0013117764842841895

In [9]:
df['DEV_AAPL'] = df['AAPL'].apply(lambda x: x-mean_aapl)
df.head()

ticker          AAPL      TSLA  DEV_AAPL
date
2017-01-03       NaN       NaN       NaN
2017-01-04 -0.001119  0.046085 -0.001843
2017-01-05  0.005085 -0.001057  0.004361
2017-01-06  0.011148  0.009967  0.010424
2017-01-09  0.009160  0.009912  0.008435

In [10]:
df['DEV_TSLA'] = df['TSLA'].apply(lambda x: x-mean_tsla)
df.head()

ticker          AAPL      TSLA  DEV_AAPL  DEV_TSLA
date
2017-01-03       NaN       NaN       NaN       NaN
2017-01-04 -0.001119  0.046085 -0.001843  0.044773
2017-01-05  0.005085 -0.001057  0.004361 -0.002369
2017-01-06  0.011148  0.009967  0.010424  0.008655
2017-01-09  0.009160  0.009912  0.008435  0.008600

In [11]:
df['CROSS_PRODUCT'] = df['DEV_AAPL']*df['DEV_TSLA']
df.head()

ticker          AAPL      TSLA  DEV_AAPL  DEV_TSLA  CROSS_PRODUCT
date
2017-01-03       NaN       NaN       NaN       NaN            NaN
2017-01-04 -0.001119  0.046085 -0.001843  0.044773      -0.000083
2017-01-05  0.005085 -0.001057  0.004361 -0.002369      -0.000010
2017-01-06  0.011148  0.009967  0.010424  0.008655       0.000090
2017-01-09  0.009160  0.009912  0.008435  0.008600       0.000073

In [13]:
df['CROSS_PRODUCT'].sum()/(df['CROSS_PRODUCT'].count()-1)

0.00013997117656629112

In [14]:
df['AAPL'].cov(df['TSLA'])

0.0001399711765662911